@charset "UTF-8";

body,html {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Arial,Helvetica,sans-serif;
	min-width: 1180px
}

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

address,cite,dfn,em,i,var {
	font-style: normal
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace
}

small {
	font-size: 12px
}

ol,ul {
	list-style: none
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,img {
	border: 0
}

button,input,select,textarea {
	font-size: 100%;
	outline: 0;
	cursor: pointer
}

input:-webkit-autofill,select:-webkit-autofill,textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video {
	display: block;
	margin: 0;
	padding: 0
}

mark {
	background: #ff0
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
	font-size: 0
}

.com-btn-hover:hover {
	background: #fc9071!important
}

.com-link-hover:hover {
	background: #fdeeee!important
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-moz-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-o-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-moz-transform: scale(.3);
		-o-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-webkit-transform: scale(.9);
		-moz-transform: scale(.9);
		-o-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}
}

.bounceIn {
	-webkit-animation-duration: .8s;
	-moz-animation-duration: .8s;
	-o-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn
}

.com-masker {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5)
}

@media \0screen {
	.com-masker {
		background-color: #000;
		filter: Alpha(opacity=50)
	}
}

.com-form {
	text-align: center
}

.com-form div {
	display: inline-block;
	border: 1px solid #c2c2c2;
	width: 286px;
	height: 41px;
	text-align: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 0
}

.com-form p.error {
	height: 20px;
	width: 286px;
	margin: 0 auto;
	text-align: left;
	font-size: 12px;
	color: #db0000
}

.com-form button.getcode,.com-form i.con,.com-form img.valid,.com-form input {
	vertical-align: middle
}

.com-form i.con {
	margin: 0 0 0 13px;
	font-size: 20px;
	color: #c5c5c5
}

.com-form input {
	height: 100%;
	line-height: 100%;
	border: none;
	outline: 0;
	text-indent: 8px;
	line-height: 41px;
	font-size: 12px;
	color: #bcbcbc
}

.com-form input.phone {
	width: 250px
}

.com-form input.img-code {
	width: 170px
}

.com-form input.code {
	width: 163px
}

.com-form input.focus {
	font-size: 12px!important;
	color: #3f3f3f!important
}

.com-form img.valid {
	width: 83px;
	height: 31px;
	cursor: pointer
}

.com-form button.getcode {
	width: 81px;
	height: 25px;
	font-size: 12px;
	background-color: #ececec;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #3d3d3d
}

.login-container {
	display: none
}

.login-container .box {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -182px;
	margin-top: -215px;
	width: 395px;
	padding-bottom: 34px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	z-index: 10000
}

.login-container .box i.close {
	position: absolute;
	right: 6px;
	top: 6px;
	font-size: 28px;
	color: #d0d0d0;
	cursor: pointer
}

.login-container .box dl {
	padding-top: 23px;
	margin-bottom: 23px
}

.login-container .box dd.title {
	font-size: 18px;
	color: #3f3f3f
}

.login-container .box p.login-error {
	width: 286px;
	height: 20px;
	margin: 0 auto;
	text-align: left;
	font-size: 12px;
	color: #db0000;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden
}

.login-container .box button.regist {
	width: 286px;
	height: 43px;
	margin-top: 10px;
	background-color: #f04f00;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	cursor: pointer
}

.login-container .box button.disabled {
	background-color: #ff6b23!important
}

.login-container .box p.warm {
	margin-top: 19px;
	font-size: 13px
}

.header-common {
	width: 1180px;
	margin: 0 auto;
	height: 100px;
	position: relative
}

.header-common .logo {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -26px;
	width: 205px;
	height: 46px
}

.header-common .logo a {
	display: block
}

.header-common .area {
	position: absolute;
	left: 226px;
	top: 50%;
	margin-top: -15px;
	color: #b8b8b8;
	font-size: 12px;
	text-align: center
}

.header-common .area strong {
	font-size: 16px;
	color: #000;
	font-weight: 400
}

.header-common .area span {
	color: #bdbdbd
}

.header-common .select-area {
	position: absolute;
	z-index: 100;
	top: 50px;
	left: -30px
}

.header-common .search-snav-list {
	position: absolute;
	top: 50%;
	left: 345px;
	margin-top: -7px;
	color: #000;
	width: 500px
}

.header-common .search-snav-list li {
	float: left
}

.header-common .search-snav-list li.first {
	margin-right: 49px
}

.header-common .search-snav-list li.second {
	margin-right: 41px
}

.header-common .search-snav-list li.third {
	margin-right: 33px
}

.header-common .search-snav-list li.forth {
	margin-right: 27px
}

.header-common .search-snav-list a {
	font-size: 14px;
	color: #000
}

.header-common .search-snav-list a:hover {
	border-bottom: 4px solid #fe9b00;
	padding-bottom: 6px;
	color: #fe9b00
}

.header-common .search-snav-list .a_active {
	border-bottom: 4px solid #fe9b00;
	color: #000
}

.header-common .head-main-form {
	position: absolute;
	right: 135px;
	top: 50%;
	margin-top: -16px;
	width: 253px;
	height: 38px;
	font-size: 0
}

.header-common .head-main-form input {
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-indent: 20px;
	font-size: 12px;
	border: 1px solid #c7c7c7;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #b8b8b8
}

.header-common .head-main-form input.input-toggle {
	border-color: red
}

.header-common .head-main-form a {
	position: absolute;
	top: 50%;
	right: 19px;
	margin-top: -10px;
	font-size: 20px;
	color: #000
}

.header-common .head-main-form input:focus {
	border-color: #fe9b00
}

.header-common .status-login {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -8px
}

.header-common .login-status {
	font-size: 12px;
	cursor: pointer;
	display: none
}

.header-common .login-status i {
	color: #fe9b00
}

.header-common .login-status p {
	position: absolute;
	top: 32px;
	width: 97px;
	padding: 20px 0 0 0;
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #cbcbcb;
	-webkit-box-shadow: 0 1px 7px 0 #cbcbcb;
	-moz-box-shadow: 0 1px 7px 0 #cbcbcb;
	box-shadow: 0 1px 7px 0 #cbcbcb;
	display: none
}

.header-common .login-status span.tra-out {
	position: absolute;
	top: -9px;
	left: 18px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 8px solid #cbcbcb
}

.header-common .login-status span.tra-inner {
	position: absolute;
	top: -8px;
	left: 18px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 9px solid #fff
}

.header-common .login-status span.fill-cir {
	position: absolute;
	left: 0;
	top: -19px;
	z-index: 1000;
	height: 18px;
	width: 100%;
	background-color: transparent
}

.header-common .login-status a {
	display: block;
	margin-bottom: 22px;
	color: #000
}

.header-common .login-status a.active {
	color: #fe9b00
}

.header-common .login-status a:hover {
	color: #fe9b00
}

.header-common .login-status:hover p {
	display: block
}

.header-common .login-opt {
	font-size: 14px;
	cursor: pointer;
	display: none
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-moz-transform: scale(.3);
		-o-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-webkit-transform: scale(.9);
		-moz-transform: scale(.9);
		-o-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}
}

.bounceIn {
	-webkit-animation-duration: .8s;
	-moz-animation-duration: .8s;
	-o-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn
}

.com-masker {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.5)
}

@media \0screen {
	.com-masker {
		background-color: #000;
		filter: Alpha(opacity=50)
	}
}

.myenlist-left-nav {
	float: left;
	width: 181px;
	border: 1px solid #dfe0e1;
	-webkit-box-shadow: 0 0 5px 1px #dfe0e1;
	-moz-box-shadow: 0 0 5px 1px #dfe0e1;
	box-shadow: 0 0 5px 1px #dfe0e1;
	background-color: #fff;
	line-height: 180%
}

.myenlist-left-nav .tou {
	width: 143px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	text-align: center;
	border-bottom: 1px solid #f5f5f5;
	color: #959595
}

.myenlist-left-nav .tou img {
	margin: 0 auto;
	display: block;
	border: 1px solid red;
	width: 86px;
	height: 86px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	-moz-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
	margin-bottom: 10px
}

.myenlist-left-nav .tou .pho {
	display: inline-block;
	height: 15px;
	font-size: 14px;
	color: #000
}

.myenlist-left-nav .tou button {
	display: none;
	width: 123px;
	margin: 10px auto 15px;
	height: 25px;
	line-height: 25px;
	background: #fe9b00;
	border: 0;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: relative
}

.myenlist-left-nav .tou button span {
	position: absolute;
	right: -3px;
	top: -5px;
	width: 15px;
	height: 15px;
	line-height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #f04f00;
	color: #fff;
	font-size: 10px
}

.myenlist-left-nav .tou a {
	display: block;
	font-size: 12px;
	color: #959595
}

.myenlist-left-nav ul {
	padding: 25px 17px 25px 17px
}

.myenlist-left-nav li {
	height: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	font-size: 13px;
	color: #6a6a69
}

.myenlist-left-nav li.active a {
	color: #fe9b00
}

.myenlist-left-nav li.quite {
	margin: 20px 0 0 0
}

.myenlist-left-nav li.quite a {
	color: #ccc
}

.myenlist-left-nav a {
	color: #6a6a69
}

.page-opt .page-index {
	float: left;
	font-size: 12px;
	line-height: 18px;
	padding: 0 0 23px 31px;
	color: #aaa
}

.page-opt .option {
	float: right;
	font-size: 12px;
	color: #2d2e49
}

.page-opt .option a {
	margin-right: 12px
}

.page-opt .option a.disabled {
	pointer-events: none;
	cursor: default;
	opacity: .4
}

.page-opt .option input {
	margin-right: 12px
}

.page-opt .option button {
	width: 41px;
	height: 19px;
	margin-right: 29px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #bdbdbd;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ececec));
	background-image: -webkit-linear-gradient(top,#fff 0,#ececec 100%);
	background-image: -moz-linear-gradient(top,#fff 0,#ececec 100%);
	background-image: -o-linear-gradient(top,#fff 0,#ececec 100%);
	background-image: linear-gradient(180deg,#fff 0,#ececec 100%)
}

.page-opt .option a,.page-opt .option button,.page-opt .option input {
	vertical-align: middle
}

.page-opt .page {
	width: 41px;
	height: 19px;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-indent: 7px
}

.revise-result {
	display: none
}

.revise-result .container {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10000;
	width: 358px;
	height: 203px;
	margin-left: -179px;
	margin-top: -102px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff
}

.revise-result .prot {
	margin: 33px 0 19px 0;
	font-size: 18px;
	color: #3d3d3d
}

.revise-result .infor {
	height: 65px;
	font-size: 14px;
	color: #3d3d3d
}

.revise-result .opt button.com,.revise-result .opt button.sure {
	background-color: #f04f00;
	font-size: 14px;
	color: #fff;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.revise-result .opt .ensure {
	width: 216px;
	height: 43px
}

.revise-result .opt .confir,.revise-result .opt .find {
	width: 136px;
	height: 43px;
	vertical-align: middle
}

.revise-result .opt .find {
	line-height: 43px;
	display: inline-block;
	margin-left: 25px;
	border: 1px solid #f15b11;
	font-size: 14px;
	color: #f04f00;
	background-color: transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center
}

.revise-result .opt .pre-regist {
	display: inline-block;
	width: 216px;
	height: 43px;
	line-height: 43px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f04f00;
	font-size: 14px;
	color: #fff
}

.success-close {
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	display: none;
	padding: 18px;
	text-align: center;
	color: #2a2a2a;
	font-size: 16px;
	background: #ecffe6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	max-width: 900px;
	border: 3px solid #fff;
	height: 30px;
	margin-top: -15px;
	white-space: nowrap;
	-webkit-box-shadow: 0 0 13px 0 rgba(47,47,47,.19);
	-moz-box-shadow: 0 0 13px 0 rgba(47,47,47,.19);
	box-shadow: 0 0 13px 0 rgba(47,47,47,.19);
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden
}

.success-close .iconfont {
	font-size: 30px;
	position: relative;
	color: #05b712;
	left: 0;
	top: 5px;
	padding-right: 10px
}

.error-close {
	position: fixed;
	z-index: 10000;
	bottom: 8%;
	left: 50%;
	display: none;
	padding: 18px;
	text-align: center;
	color: #000;
	font-size: 16px;
	background: #fff6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	max-width: 900px;
	border: 3px solid #fff;
	height: 30px;
	white-space: nowrap;
	-webkit-box-shadow: 0 0 13px 0 rgba(47,47,47,.19);
	-moz-box-shadow: 0 0 13px 0 rgba(47,47,47,.19);
	box-shadow: 0 0 13px 0 rgba(47,47,47,.19);
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden
}

.error-close .iconfont {
	font-size: 30px;
	position: relative;
	color: #fe9b00;
	left: 0;
	top: 5px;
	padding-right: 10px
}

.slider-box {
	position: fixed;
	z-index: 9998;
	right: 0;
	bottom: 200px;
	width: 60px
}

.slider-box .forbidden-box {
	position: absolute;
	z-index: 0;
	top: 0;
	height: 245px;
	right: -10px;
	width: 10px;
	background-color: transparent
}

.slider-box dl {
	width: 100%;
	height: 75px;
	position: relative;
	background-color: #fff;
	margin-bottom: 3px;
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px 0 rgba(47,47,47,.2);
	-moz-box-shadow: 0 0 10px 0 rgba(47,47,47,.2);
	box-shadow: 0 0 10px 0 rgba(47,47,47,.2)
}

@media \0screen {
	.slider-box dl {
		border: 2px solid #ececec
	}
}

.slider-box dl.end:hover .iconfont {
	color: #fff
}

.slider-box dl.end:hover dt {
	background-color: red
}

.slider-box dl.end:hover dt p {
	color: #fff
}

.slider-box dl.active .iconfont {
	color: #fff
}

.slider-box dl.active dt {
	background-color: red
}

.slider-box dl.active dt p {
	color: #fff
}

.slider-box dt {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	color: #656565;
	height: 75px
}

.slider-box dt span {
	font-size: 28px;
	color: red;
	display: inline-block;
	padding: 12px 0 6px 0
}

.slider-box dt span.active {
	color: #ff9833
}

.slider-box dd {
	position: absolute;
	left: 1px;
	top: 0;
	z-index: -1;
	width: 150px;
	height: 150px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ececec;
	-webkit-box-shadow: 0 0 10px 0 rgba(47,47,47,.2);
	-moz-box-shadow: 0 0 10px 0 rgba(47,47,47,.2);
	box-shadow: 0 0 10px 0 rgba(47,47,47,.2)
}

.slider-box dd span.icon-close-1 {
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 20px;
	color: #ccc;
	cursor: pointer
}

.slider-box dd img.arrow {
	position: absolute;
	top: 22px;
	right: -9px
}

.slider-box dd p.content {
	margin: 12px 0 18px 0;
	font-size: 12px;
	color: #5a5a5a
}

.slider-box dd button {
	width: 112px;
	height: 30px;
	background-color: red;
	font-size: 10px;
	color: #fff;
	outline: 0;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}

.slider-box dd button:hover {
	background-color: #b60b0b
}

.slider-box dd p.wx {
	vertical-align: middle;
	margin-top: 13px
}

.slider-box dd#signBox {
	display: none
}

.slider-box .server-lines {
	display: none;
	left: 1px;
	width: 124px;
	text-align: left;
	padding: 0 13px;
	font-size: 12px;
	color: #5a5a5a
}

.slider-box .server-lines strong {
	border-left: 3px solid #ff000;
	padding-left: 4px
}

.slider-box .server-lines p {
	line-height: 200%;
	border-bottom: 2px solid #e3e3e3;
	margin: 15px 10px 0 10px;
	font-family: "arial "
}

.slider-box .server-lines p.reading {
	border-bottom: none
}

.slider-box .net-weixin {
	display: none;
	left: 1px
}

.slider-box #signBox span,.slider-box .net-weixin span,.slider-box .server-lines span {
	position: absolute;
	right: -15px;
	height: 100%;
	width: 14px
}

.footer-common {
	background-color: #3b3b3b
}

.footer-common .copyright {
	background: #000;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 45px 0
}

.footer-common .copyright a {
	color: #fff
}

.footer-common .copyright a:hover {
	color: #f27022
}

.footer-common .copyright p {
	line-height: 240%
}

.footer-common .copyright img {
	vertical-align: middle
}

.footer-common .copyright .emblem {
	margin-right: 5px
}

.footer-common .copyright span {
	vertical-align: middle
}

.footer-common .copyright .certificate a {
	margin: 0 8px;
	font-size: 0;
	display: inline-block;
	vertical-align: middle
}

.body-box {
	background-color: #fff;
	padding: 13px 0 110px 0;
	zoom: 1;
	overflow: hidden
}

a {
	color: #000
}

.user-agreement-box {
	width: 1200px;
	margin: 0 auto
}

.user-agreement-box .agreement-container {
	float: right;
	width: 984px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px 0 rgba(47,47,47,.2);
	-moz-box-shadow: 0 0 4px 0 rgba(47,47,47,.2);
	box-shadow: 0 0 4px 0 rgba(47,47,47,.2);
	min-height: 500px
}

.user-agreement-box #tab {
	width: 100%;
	height: 53px;
	background-color: #f8f8f6
}

.user-agreement-box #tab li {
	width: 148px;
	height: 53px;
	line-height: 53px;
	font-size: 13px;
	color: #313131;
	text-align: center;
	float: left;
	cursor: pointer
}

.user-agreement-box #tab .current {
	color: #313131;
	background-color: #fff;
	border-top: 4px solid #fe9b00
}

.user-agreement-box .my_table {
	font-size: 12px;
	width: 960px;
	margin: 20px auto;
	color: #6f6f6f;
	border: 1px solid #f8f8f6
}

.user-agreement-box .my_table tr.odd {
	background-color: #f8f8f6
}

.user-agreement-box .my_table th {
	font-size: 14px;
	color: #313131;
	text-align: center;
	height: 35px;
	background: #f8f8f6 url(../images/tbord.png) no-repeat 3px 10px
}

.user-agreement-box .my_table td {
	height: 90px;
	text-align: center;
	font-size: 14px;
	color: #6f6f6f;
	font-size: 12px
}

.user-agreement-box .my_table td.btn-box a.pay-btn {
	color: #f04f00;
	border: solid 1px #f04f00;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 19px;
	margin-bottom: 3px;
	display: inline-block;
	line-height: normal
}

.user-agreement-box .my_table td.none {
	height: 90px;
	font-size: 16px;
	color: #777;
	padding: 20px 0
}

.user-agreement-box .my_table td.timer {
	line-height: 160%
}

.user-agreement-box .my_table i.none {
	margin-right: 20px;
	font-size: 50px;
	vertical-align: middle
}

.user-agreement-box .my_table span.none {
	vertical-align: middle
}

.user-agreement-box .my_table .first {
	text-align: left;
	padding-left: 27px;
	width: 230px
}

.user-agreement-box .my_table .first img {
	vertical-align: middle;
	margin-right: 18px
}

.user-agreement-box .my_table .fx {
	color: #313131
}

.user-agreement-box .my_table .org {
	color: #fe9b00
}

.user-agreement-box .my_table .red a {
	color: #f04f00
}

.user-agreement-box .my_table .gray {
	background: #f8f8f6
}

.user-agreement-box .my_table .coform {
	color: #f04f00;
	margin-bottom: 5px;
	border: 1px solid #f04f00;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	width: 86px;
	height: 21px;
	line-height: 21px
}